.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
  }
  
  .content {
    margin-bottom: 10vw;
    width: 100%;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 40px;
    height: 100%;
  }
  
  .imageBackground {
    background-image: url('../../assets/login-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: -1;
  }
  
.logos {
    margin-bottom: 2vw;
    max-width: 400px; /* Aumenta el tamaño máximo */
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    transition-timing-function: ease-out;
    transition: opacity 0.2s;
    width: 100%;
    height: 100px; /* Aumenta la altura */
    background-image: url('../../assets/cta-logo-one.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; /* Asegura que esté centrado */
    z-index: 1;
}
  
  .logosOne {
    margin-bottom: 12px;
    max-width: 600px;
    min-height: 1px;
    display: block;
    width: 100%;
    height: 150px;
    background-image: url('../../assets/cta-logo-two.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }
  
.title {
    font-weight: bold;
    color: #f9f9f9;
    background-color: #0063e5;
    margin-bottom: 12px;
    width: 30%;
    letter-spacing: 1.5px;
    font-size: 18px;
    padding: 16.5px 0;
    border: 1px solid transparent;
    border-radius: 4px;

    &:hover {
        background-color: #0483ee;
    }
}

.description {
    color: hsla(0,0%, 95.3%, 1);
    font-size: 14px;
    margin: 0 0 24px;
    line-height: 1.5;
    letter-spacing: 1.5;
}